/*
clr1
- white: #ffffff;
- black: #252525;
- grey: #d5d5d3;
- greyer: #444444;
- yellow: #fdd947;
*/


.exit-tab {
	/*color: #EF767A;*/
    position: absolute;
    cursor: pointer;
    font-weight: 700;
    font-size: 8px;
    top: 1px;
    left: 111px;
    display: inline-block;
    font-family: 'Istok Web', sans-serif;
}

.icon-tab {
	/*height: 10px;*/
    /*width: 10px;*/
    position: absolute;
    /*background: #EF767A;*/
    opacity: 0.6;
    display: inline-block;
    top: 4px;
    left: 10px;
    font-size: 12px;
}

.name-tab {
	display: inline-block;
    font-size: 12px;
    /*color: #EEF0F2;*/
    position: absolute;
    top: -1px;
    width: 80px;
    text-overflow: ellipsis;
    left: 24px;
    cursor: default;
    height: 19px;
    text-align: left;
}

.tab {
    /*border-bottom: 23px solid #49BEAA;*/
    border-bottom: 23px solid;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    height: 0;
    width: 130px;
    right: 148px;
    top: 100px;
    opacity: 0.5;
    float: left;
}

.tab:hover {
	opacity: 1;
}

.full_opacity {
	opacity: 1;
}

.tab-detail-spine {
	height: 19px;
    width: 128px;
    left: -10px;
    position: relative;
}