.exit-tab {
	color: #EF767A;
	position: relative;
	cursor: pointer;
	font-weight: 700;
	font-size: 8px;
	top: -2px;
    left: 16px;
	display: inline-block;
	font-family: 'Istok Web', sans-serif;
}

.icon-tab {
	height: 10px;
	width: 10px;
	position: relative;
	background: #EF767A;
	display: inline-block;
	top: -1px;
    left: -17px;
}

.name-tab {
	display: inline-block;
	font-size: 12px;
	color: #EEF0F2;
	position: relative;
	top: -2px;
    left: -12px;
    cursor: default;
}

.tab {
    border-bottom: 23px solid #49BEAA;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    height: 0;
    width: 130px;
    right: 148px;
    top: 100px;
    opacity: 0.5;
    float: left;
}

.tab:hover {
	opacity: 1;
}

.full_opacity {
	opacity: 1;
}