/*

red: f74464
darkest: 374258
darkish: 6a7285
light: c4c4c4
lightest: f3f3f3

*/

.directory-body {
	background: #011627;
}

.directory-header-text {
	top: 20%;
    position: relative;
    font-weight: bold;
    font-size: 65px;
    color: #FDFFFC;
}

.directory-body-text {
    font-size: 20px;
    top: 27%;
    position: relative;
    color: #FF9F1C;
    width: 80%;
    margin: 0 auto;
    opacity: 0.8;
}

.directory-web-list {
    position: relative;
    top: 33%;
    font-size: 35px;
    text-align: left;
    margin: 0 auto;
    line-height: 75px;
    width: 80%;
    cursor: pointer;
}

.directory-web-list-item {
	transition: 0.1s;
	color: #374258;
    display: inline-block;
    margin-left: 50px;
}

.directory-web-list-item:hover {
	color: #f74464;
}

.directory-favicon {
    margin-right: 10px;
    position: relative;
    top: 1px;
}