/* 
	COLORS
	charcol - #2F4550
	white   - #EEF0F2
	blue    - #456990
	green   - #49BEAA
	red     - #EF767A

	FONTS 
	leading - font-family: 'Istok Web', sans-serif;
	body    - font-family: 'Lora', serif;

*/
.new-tab-text {
	font-size: 40px;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	text-align: center;
	width: 100%;
}

#right-header-spine, #footer-spine, #left-header-spine {
	position: absolute;
	font-size: 12px;
	color: white;
	z-index: 100;
}

#footer-spine {
	top: 96%;
	left: 1%;
	opacity: 0.3;
}

#right-header-spine {
	top: 1%;
	right: 1%;
}

.header-question {
	display: inline-block;
	position: relative;
	margin-right: 7px;
	cursor: pointer;
	transition: 0.4s;
	opacity: 0.3;
}

.header-question:hover {
	opacity: 1;
}

.header-name {
	opacity: 0.3;
	display: inline-block;
}

#left-header-spine {
	top: 1%;
	left: 1%;
}

.left-header-spine-item {
	display: inline-block;
	opacity: 0.3;
	margin-right: 7px;
}


.left-header-spine-item:nth-child(1) {
	font-weight: bold;
	opacity: 0.4;
}

.left-header-clickable {
	cursor: pointer;
	transition: 0.4s;
}

.left-header-clickable:hover {
	opacity: 1;
}










