.WindowBody {
	top: 30%;
	transform: translateY(-50%);
	margin: 0 auto;
	position: absolute;
}

.new-tab-text {
	font-size: 40px;
	color: white;
	top: 50%;
	position: relative;
	text-align: center;
	width: 100%;
}
