#content-body {
	width: 100%;
	height: 100%;
	position: relative;
}

.logo {
	font-size: 35px;
	text-align: center;
	position: absolute;
    top: 32%;
    width: 100%;
}

.search-input {
	position: absolute;
	top: 48%;
}

.search-button {
	position: absolute;
    top: 80%;
    left: 39%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.search-button:hover {
	opacity: 1;
}

#search-body {
	height: 200px;
	width: 300px;
	top: 50%;
	position: relative;
	margin: 0 auto;
	transform: translateY(-50%);
}


